<body class="admin">

    <h1>Home Health Agency</h1>
    <section class="snapshot-container">
        <div class="snapshot">
            Daily Snapshot
        </div>
        <div class="snapshot-block">
            X nurses working today
            <span class="box-inner">X total</span>
        </div>
        <div class="snapshot-block" id="patients-block">
            X patients treated today
            <span class="box-inner">X total</span>
        </div>
        
    </section>

    <app-landing-page-table></app-landing-page-table>

    <div class="add-info">
        <h2 class = "buttons-header">
            Add Information
        </h2>
        <div class = "add-buttons-container">
            <button href=""  (click) = "navigateToAddNurse()" class="admin-page-button" id="add-nurse">Add Nurse</button>
            <button href=""  (click) = "navigateToAddPatient()" class="admin-page-button" id="add-patient">Add Patient</button>
            <button href=""  (click) = "navigateToCalendar()" class="admin-page-button" id="calendar">Calendar</button>
        </div>
    </div>

    
    


</body>
