<body class="admin">
    <h2>Home Health Agency</h2>

    <section class="snapshot-container">
        <div class="snapshot">
            Daily Snapshot
        </div>
        <div class="snapshot-block">
            X nurses working today
            <span class="box-inner">X total</span>
        </div>
        <div class="snapshot-block" id="patients-block">
            X patients treated today
            <span class="box-inner">X total</span>
        </div>
        
    </section>

    <app-landing-page-table></app-landing-page-table>

</body>
