.admin {
    display: block;
    font-family: var(--ff-primary);
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    background-color: var(--background-color);

}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.8em;
    font-family: var(--ff-primary);
}

.snapshot-container {
    margin-top: 2em;
    height: 5em;
    margin-bottom: 1em;
}
.snapshot {
    clear:both;
    margin-left: 1em;
    margin-bottom: 0.2em;
    text-align: left;
}

.snapshot-block {
    float: left;
    text-align: left;
    margin-left: 1em;
    height: 3.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    border: 1px solid black;
    width: 13em;
}

@media (max-width:605px) {
    .snapshot-block {
        margin-bottom: 0.5em;
    }

    .snapshot-container {
        height: 10em;
        margin-bottom: 1em;
    }
}

/* #patients-block {
    clear: none;
    float:left;
} */

.box-inner {
    display: block;
    font-size: 0.6em;
}

.add-nurse-button {
    font-family: var(--ff-primary);
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 4em;
    margin-top: 20px;
}

.add-patient-button {
    font-family: var(--ff-primary);
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 2em;
    margin-top: 20px;
}

.login-page-buttons:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.9;
    
}

.login-page-buttons:focus {
    outline: none;
    border: 2px solid #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.8;
}

.add-buttons-container{
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.buttons-header{
    font-family: var(--ff-primary);
    margin-left: 3em;
    color: #000000;
}