<div class="container">

    <h1>
        Patients
    </h1>

    <mat-form-field appearance="standard" class="search">
        <mat-label>Search For Patients</mat-label>
            <input matInput type="text" placeholder="Eg: John Smith" (keyup)="patientSearch($event)"/>
    </mat-form-field>

    <table mat-table matSort [dataSource]="dataSource"  class="tables">
        <ng-container matColumnDef="FullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="name-header">Name</th>
            <td mat-cell *matCellDef="let patient" id="name">{{patient["fullName"]}}</td>
        </ng-container>
        <ng-container matColumnDef="AssignedNurse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="nurse-header">Assigned Nurse</th>
            <td mat-cell *matCellDef="let patient" id="nurse">{{patient.assignedNurse}}</td>
        </ng-container>
        <ng-container matColumnDef="Treatment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="treatment-header">Treatment Description</th>
            <td mat-cell *matCellDef="let patient" id="treatment">{{patient.treatmentDesc}}</td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef id="phone-header">Phone Number</th>
            <td mat-cell *matCellDef="let patient" id="phone">{{patient.phone}}</td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="onRowClick(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
        </table>
    
    <mat-paginator [pageSizeOptions]="[10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
    
</div>
