::ng-deep .cal-event {
    white-space: pre-wrap !important;
    line-height: 1.3em !important;
}

.name {
    font-family: var(--ff-primary);
    font-size: 30px;
    float: left;
    line-height: 1em;
    margin-top: 0.5em;
    padding-right: 1em;
    padding-left: 2.5em;
    margin-bottom: 0.3em;
}

.btn-group {
    float: left;
    margin-top: 0.5em;
}

.col-md-4 {
    width: 50em;
}

.btn {
    font-family: var(--ff-primary);
}