
<div class="login">
    

    <img src="assets/img/outline-status-heart-plus@2x.png" class="login-img">

    <div class="credentials">
        <h1 class="welcome"w>Welcome!</h1>
        <p class="credentials-username">Username</p>
        <input type="text" class="credentials-username-input">
        <p class="credentials-password">Password</p>
        <input type="text" class="credentials-password-input">
    </div>
    <div></div>

    <button class="login-button" #login (click)="onClick()">
        Login
    </button>
    <div></div>
    <a href="" class="login-forgot-password">Forgot Password?</a>

</div>


  
  