
<div class="forgetPassword" id= "passwordBox">
    

    <div class="email-container">
        <mat-form-field appearance="fill" class="email-field">
          <mat-label class="label">Enter your email</mat-label>
          <input matInput placeholder="homehealth@example.com" [formControl]="email" required>
          <mat-error class="error" *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="sendButton" (click)="onClick()">Send</button>
        
    </div>
    
    <div></div>
    <button (click) = "backToLoginClick()" class="backToLoginButton">I remember my password</button>
    

</div>
<div class = "forgetPassword" id = "pinContainer">
  <h2>Type in the pin to reset password</h2>
  <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
</div>
