.forgetPassword{
    display: block;
    font-family: var(--ff-primary);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10em;
}
.emailbox{
    outline: none;
    border: 1px solid rgb(190, 189, 189);
    width: 300px;
    height: 45px;
}

input[type="text"] {
    font-size: 20px;
    font-family: var(--ff-primary);
}

.boxlabel{
    position: relative;
    margin-top: 5em;
    font-size: 20px;
}
.cridentials{
    background-color: white;
    margin:auto;
    width: 400px;
}

.labelcontainer{
    align-items: center;
    
}

.email-container .mat-form-field  {
    background-color: lightyellow;
}