.forgetPassword{
    margin-top: 5em;
    display: grid;
    font-family: var(--ff-primary);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10em;
    justify-content:center;
    border-style: solid;
    border-color: black;
    width:400px;
    border-width: 1px;
}


input[type="text"] {
    font-size: 20px;
    font-family: var(--ff-primary);
}

.boxlabel{
    position: relative;
    margin-top: 5em;
    font-size: 20px;
}
.cridentials{
    margin:auto;
    width: 400px;
}

.labelcontainer{
    align-items: center;
    
}

.label {
    color: grey;
}

.sendButton{
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 2em;
    margin-top: 20px;
}
.sendButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.9;
    
}
.backToLoginButton{
    font-family: var(--ff-primary);
    color: grey;
    border: none;
    background: none;
    font-size: 17px;
    
    margin-top: 3em;
    margin-bottom: 10px;
    cursor: pointer;
}
.backToLoginButton:focus {
    outline: none;
    border: 2px solid #1A1A1A;
}