
<div class="forgetPassword">
    <p>forget-password-page works!</p>

    <div class="email-container">
        <mat-form-field appearance="fill">
          <mat-label class="label">Enter your email</mat-label>
          <input matInput placeholder="homehealth@example.com" [formControl]="email" required>
          <mat-error class="error" *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="sendButton" (click)="onClick()">Send</button>
    </div>


</div>

