<h1>
    Add Patient
</h1>

<div class="container">
    <p id="first-name" class="add-patient-text">First Name</p>
    <input type="text" id="first-name-input" class="add-patient-input" [(ngModel)] = "first_name">
    <p id="last-name" class="add-patient-text">Last Name</p>
    <input type="text" id="last-name-input" class="add-patient-input" [(ngModel)] = "last_name">
    <p id="email" class="add-patient-text">Email</p>
    <input type="text" id="email-input"  class="add-patient-input" [(ngModel)] = "email">
    <p id="phone" class="add-patient-text">Phone</p>
    <input type="text" id="phone-input" class="add-patient-input" [(ngModel)] = "phone">
    <p id="street" class="add-patient-text">Street</p>
    <input type="text" id="street-input" class="add-patient-input" [(ngModel)] = "street">
    <p id="city" class="add-patient-text">City</p>
    <input type="text" id="street-input" class="add-patient-input" [(ngModel)] = "city">
    <p id="zip" class="add-patient-text">Zip</p>
    <input type="text" id="street-input" class="add-patient-input" [(ngModel)] = "zip">

    <p id="nurse" class="add-patient-text">Assigned Nurse</p>
    <input type="text" id="nurse-input" class="add-patient-input" [(ngModel)] = "nurse">

    <p id="treatment" class="add-patient-text">Treatment Description</p>
    <input type="text" id="treatment-input" class="add-patient-input" [(ngModel)] = "treatment">

    <p id="dob" class="add-patient-text">Date of Birth</p>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>


    <p id="start-date" class="add-patient-text">Start Date</p>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>



    <p id="end-date" class="add-patient-text">End Date</p>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker3">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </div>
      


    <button (click)="addPatient()">
        Add Patient
    </button>


</div>
