<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eHealth</title>
</head>
<body>
<!-- <app-login-page> </app-login-page> -->
  <app-sidebar-nav></app-sidebar-nav>
</body>
</html>
<!-- <nav>
  <a routerLink = "/admin" routerLinkActive="active" ariaCurrentWhenActive="page">admin</a>
</nav>
<button type="button" routerLink="/admin">Go to sidekicks</button>
<router-outlet></router-outlet>  -->