<mat-sidenav-container class="global-sidebar">
    
    <mat-sidenav mode="side" [(opened)]="isopened">
        <div class= "sidebar-content">
            <!-- hit a service that returns name and role of who is logged in -->
            <div class="sidebar-content-name">
                    <img src="assets/img/id-card.png" class="id-img">
                    <h2 class="name"><b>Person Name</b></h2>
                    <h3 class="name"><b>Role</b></h3>
            </div>
            <div class="sidebar-content">
                <a routerLink="../admin">
                    <button class="sidebar">Home</button>
                </a>
            </div>
            <div class="sidebar-content">
                <a routerLink="../profpage">
                    <button class="sidebar">Nurses</button>
                </a>
            </div>
            <div class="sidebar-content">
                <a routerLink="../admin">
                    <button class="sidebar">Patients</button>
                </a>
            </div>
            <div class="sidebar-content">
                <a routerLink="../admin">
                    <button class="sidebar">Settings</button>
                </a>
            </div>
            <div class="sidebar-content-logout">
                <a routerLink="../login">
                    Logout
                </a>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>