<div class = cridentialContainer>
    <div>
        <h2 id = "header">Reset Password for {{email}}</h2>
    </div>
    <div id = "newContainer">
        <input type = "text" placeholder="New Password" (keyup)="newP($event)">
    </div>
    <div id = "confirmContainer">
        <input type = "text" placeholder="Confirm Password" (keyup)="confirmP($event)">
    </div>
    <div>
        <button (click)="reset()" class = "resetButton">Reset</button>
        <div></div>
        <button (click) = "backToLoginClick()" class="backToLoginButton">Back To Login Page</button>
    </div>
    
    
</div>